[submodule "external/BLAKE3"]
	path = external/BLAKE3
	url = https://github.com/BLAKE3-team/BLAKE3.git
[submodule "external/pcre2"]
	path = external/pcre2
	url = https://github.com/PCRE2Project/pcre2.git
